@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Отказано в доступе";
}

<div class="centerlook" style="width:100%">
    <div class="rect" >
        <header style="margin:20%">
            <h1 class="text-danger" width="200px">@ViewData["Title"]</h1>
            <p class="text-danger">Выполните вход</p>
        </header>
    </div>
</div>